.seccion-quienes{
  padding:80px 0;
}

.seccion-quienes .contenedor{
  display:flex;
  gap:40px;
  align-items:center;
}

.seccion-quienes img{
  width:50%;
  border-radius:20px;
}

.seccion-quienes .texto{
  background:#fff;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.seccion-quienes h2{
  font-family:'Baloo 2',cursive;
  color:#ff6f61;
  margin-bottom:15px;
}

/*=====================RESPONSIVE====================*/

@media(max-width:900px){
  .seccion-quienes .contenedor{
    flex-direction:column;
  }
  .seccion-quienes img{
    width:100%;
  }
}